* {
  padding: 0px;
  margin: 0px auto;
  box-sizing: border-box;
  max-width: 100vw;
}
body {
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 14px;
}

/*----header ----*/

header {
  height: 250px;
  width: 100%;
  display: flex;
}
.bloc_photo {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #feca07;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-image: url("image/maPhoto170-180.png");
  box-shadow: 0px 0px 10px black;
}
.bloc_name {
  flex: 3;
  height: 100%;
  position: relative;
}
.name {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 90px;
  margin-left: 100px;
}

h1 {
  text-transform: uppercase;
  font-weight: 100;
  color: black;
}
h1 mark {
  background: none;
  color: #feca07;
  font-weight: 200;
}
h2 {
  font-weight: bold;
  position: relative;
}
h2::before {
  content: "";
  width: 73px;
  height: 2px;
  background: #feca07;
  position: absolute;
  top: 25px;
}

/* ----GENERAL ----*/

.double-col {
  display: flex;
}
aside {
  flex: 1;
  background-color: #feca07;
}
main {
  flex: 3;
}

/*---- aside ---- */

.aside-titre {
  background: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.aside-titre h3 {
  color: #feca07;
  text-transform: uppercase;
}
aside p {
  margin: 20px 20px;
  text-align: justify;
}

.bloc_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border: 2px solid black;
  border-radius: 50%;
}

/* ----- section ----*/

/* ---- section titre ----*/

.section-titre {
  margin-left: 80px;
}
.section-titre h3 {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-size: 25px;
}
.school::before {
  content: url(image/002-school.png);
  position: relative;
  left: -10px;
}
.briefcase::before {
  content: url(image/001-briefcase.png);
  position: relative;
  left: -10px;
}
.pencil::before {
  content: url(image/003-pencil.png);
  position: relative;
  left: -10px;
}
.section-titre h3::after {
  content: "";
  width: 900px;
  height: 2px;
  background: #feca07;
  top: 40px;
  left: 20px;
  position: absolute;
}

/* ---- formation & skill_bloc ----*/

.section-bloc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.bloc-row1 {
  flex: 1;
  height: 100%;
  width: 80%;
  padding: 10px;
}
.bloc-row2 {
  flex: 1;
  height: 100%;
  width: 80%;
  padding: 10px;
}
.bloc-row3 {
  flex: 1;
  height: 100%;
  width: 80%;
  padding: 10px;
}
.bloc-col {
  height: 100%;
  width: 100%;
  display: flex;
}
.bloc-col-left {
  height: 100%;
  width: 30%;
}
.bloc-col-right {
  height: 100%;
  width: 70%;
}
h4 {
  margin-bottom: 5px;
}
.bloc-col-right h4,
.bloc-col-right h5 {
  padding-bottom: 15px;
}
.bloc-col-right h4 {
  text-transform: uppercase;
}
.first_date {
  position: relative;
}
.first_date h4::before {
  content: "";
  background: #feca07;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px #feca07;
  left: -30px;
  top: 6px;
  position: absolute;
}
.second_date {
  position: relative;
}
.second_date h4::before {
  content: "";
  background: #feca07;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -33px;
  top: 4px;
  position: absolute;
}

/* ---- recommandation_bloc ----*/

.recommandation_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommandation_bloc h4 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}
.recommandation_bloc h5 {
  margin-bottom: 10px;
}

/* ---- Média queries ---- */

@media screen and (max-width: 1024px) {
  .section-titre h3::after {
    width: 600px;
  }
}
@media screen and (max-width: 890px) {
  .section-titre h3::after {
    width: 400px;
  }
}

@media screen and (max-width: 880px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  }
  .bloc_photo {
    width: 100%;
    flex: 1;
  }
  .bloc_name {
    flex: 1;
    width: 100%;
  }
  .name {
    margin-left: 0px;
    text-align: center;
    padding-top: 20px;
    top: 20px;
  }
  .double-col {
    display: flex;
    flex-direction: column-reverse;
  }
  aside {
    flex: 1;
  }
  main {
    flex: 1;
  }
  .bloc-col-left {
    width: 100%;
  }
  .bloc-col-right {
    width: 100%;
  }
  .section-titre h3:first-child {
    margin-top: 20px;
  }
  .recommandation_bloc h6 {
    margin-bottom: 20px;
  }
  .section-titre {
    margin-left: 0px;
    padding: 0 20px;
  }
  .section-titre h3 {
    text-align: center;
  }
  .section-titre h3::after {
    width: 250px;
    left: 260px;
  }
}
@media screen and (max-width: 650px) {
  .section-titre h3::after {
    left: 200px;
  }
}


@media screen and (max-width: 510px) {
  .section-titre h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .section-titre h3::after {
    width: 190px;
    left: 110px;
  }
  .bloc-col {
    flex-direction: column;
  }
  .bloc-col-left {
    margin-bottom: 20px;
  }
  .recommandation_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .section-titre h3 {
    font-size: 17px;
  }
  .section-titre h3::after {
    width: 170px;
    left: 90px;
    top: 44px;
  }
  
}
@media screen and (max-width: 320px) {
  .section-titre h3::after {
    width: 150px;
    left: 60px;
  }
}
