* {
  padding: 0px;
  margin: 0px auto;
  box-sizing: border-box;
  max-width: 1200px;
}
body {
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 14px;
}

/*----header ----*/

header {
  height: 250px;
  width: 100%;
  display: flex;
}
.bloc_photo {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #feca07;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

.bloc_name {
  flex: 3;
  height: 100%;
  position: relative;
}
.name {
  height: 70px;
  position: absolute;
  top: 90px;
  margin-left: 60px;
}

h1 {
  text-transform: uppercase;
  font-weight: 100;
  color: black;
}
h1 mark {
  background: none;
  color: #feca07;
  font-weight: 200;
}
h2 {
  font-weight: bold;
  position: relative;
}
h2::before {
  content: "";
  width: 73px;
  height: 2px;
  background: #feca07;
  position: absolute;
  top: 25px;
}

/* ----GENERAL ----*/

.double-col {
  display: flex;
}
aside {
  flex: 1;
  background-color: #feca07;
}
main {
  flex: 3;
}

/*---- aside ---- */

.aside-titre {
  background: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.aside-titre h3 {
  color: #feca07;
  text-transform: uppercase;
}
aside p {
  margin: 20px 20px;
  text-align: justify;
}

.bloc_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border: 2px solid black;
  border-radius: 50%;
}

/* ----- section ----*/

/* ---- section titre ----*/

.section-titre {
  margin-left: 60px;
}
.section-titre i {
  color: #feca07;
}
.section-titre h3 {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-size: 25px;
}
.section-titre h3::before {
  content: "";
  width: 800px;
  height: 2px;
  background: #feca07;
  top: 40px;
  left: 0px;
  position: absolute;
}

/* ---- formation & skill_bloc ----*/

.section-bloc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}
.bloc-row1,
.bloc-row2,
.bloc-row3 {
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 30px auto 15px auto;
}

.bloc-col {
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 100px;
}
.bloc-col-left {
  height: 100%;
  flex: 1;
}
.bloc-col-right {
  height: 100%;
  flex: 4;
  padding-left: 30px;
}

.bloc-col-left h4 {
  margin-bottom: 5px;
}
.bloc-col-right h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.bloc-col-right h5 {
  margin-bottom: 12px;
}
.first_date {
  position: relative;
}
.first_date h4::before {
  content: "";
  background: #feca07;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px #feca07;
  left: -30px;
  top: 6px;
  position: absolute;
}
.second_date {
  position: relative;
}
.second_date h4::before {
  content: "";
  background: #feca07;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: -33px;
  top: 4px;
  position: absolute;
}

/* ---- recommandation_bloc ----*/

.recommandation_bloc {
  display: flex;
  margin-top: 40px;
}
.recommandation_bloc_left {
  flex: 1;
  padding-left: 60px;
}
.recommandation_bloc_right {
  flex: 1.5;
}
.recommandation_bloc_left h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: left;
}
.recommandation_bloc h5 {
  margin-bottom: 10px;
}

/* ---- Média queries ---- */

@media screen and (max-width: 1200px) {
  .section-titre h3::before {
    width: 600px;
  }
}

@media screen and (max-width: 880px) {
  section {
    margin-top: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
  }
  .bloc_photo {
    width: 100%;
    flex: 1;
  }
  .bloc_name {
    flex: 1;
    width: 100%;
  }
  .name {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .double-col {
    display: flex;
    flex-direction: column-reverse;
  }
  aside {
    flex: 1;
  }
  main {
    flex: 1;
  }
  .section-titre {
    margin-left: 0px;
    padding: 0 20px;
  }
  .section-titre h3 {
    text-align: center;
  }
  .section-titre h3::before {
    width: 300px;
    left: 290px;
  }
  .bloc-col{
    padding-right: 30px;
  }
  .recommandation_bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }
  .recommandation_bloc_left,
  .recommandation_bloc_right {
    flex: 1;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .section-titre h3::before {
    left: 220px;
  }
}
@media screen and (max-width: 650px) {
  .section-titre h3::before {
    left: 150px;
  }
}

@media screen and (max-width: 530px) {
  .section-titre h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .section-titre h3::before {
    width: 190px;
  }
  .bloc-col {
    flex-direction: column;
  }
  .bloc-col-left {
    margin-bottom: 20px;
  }
  .bloc-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  .bloc-col-left {
    height: 100%;
    flex: 1;
  }
  .bloc-col-left h5 {
    text-align: center;
  }
  .bloc-col-right {
    height: 100%;
    flex: 1;
    padding-left: 0px;
  }
  .bloc-col-right h4,
  .bloc-col-right h5,
  .bloc-col-right p {
    text-align: center;
    margin: 15px 30px;
  }
  .recommandation_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .recommandation_bloc_left {
    margin-bottom: 20px;
  }
  .bloc-row3 h4 {
    text-align: center;
  }
  .bloc-row3 h4::before {
    left: 40px;
  }
}
@media screen and (max-width: 425px) {
  .section-titre h3 {
    font-size: 17px;
  }
  .section-titre h3::before {
    width: 200px;
    left: 100px;
    top: 30px;
  }
  .bloc-col{
    padding-right: 0;
  }
}
@media screen and (max-width: 375px) {
  .section-titre h3::before{
    width: 150px;
    left: 100px;
    top: 35px;
  }
}
@media screen and (max-width: 370px) {
  .section-titre h3::before{
    top: 44px;
  }
}
@media screen and (max-width: 320px) {
  .section-titre h3::before{
    width: 150px;
    left:70px;
    
  }
}